<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<!-- Header -->
<head>

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"  />
  <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
		  <link th:href="@{/css/core.css}" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" th:src="@{/js/hamButton.js}"></script>
    		  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    		 
    		  <link th:href="@{/css/fontAwesome.css}" rel="stylesheet" type="text/css"/>
    

    

<style>


</style>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
     
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <meta name="viewport" content="width=device-width, height=device-height,initial-scale=1">
    
</head>

 
<body class="">
<input type="hidden" th:value="${@serviciosBeans.getApiHostURL()}" id="apiurl"   />

<script>

var apiurl =$("#apiurl");

var api_ip_host = apiurl[0].value;


</script>
<div th:replace="fragments/header :: header" class=" col-12 col-md-12 col-xs-12 col-lg-12 col-xl-12">
  
</div>

    <div layout:fragment="content" class=" col-12 col-md-12 col-xs-12 col-lg-12 col-xl-12">
        <p>Content goes here...</p>
        
        
    </div>
    
        <div  th:replace="fragments/footer :: footer" class=" col-12 col-md-12 col-xs-12 col-lg-12 col-xl-12">


        
			 
   
</div>
<th:block layout:fragment="script"></th:block>
</body>
</html>
