<?xml version='1.0' encoding='UTF-8' ?>
  <html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
      
  <th:block layout:fragment="content">     
 
                 <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
 
 <input type="hidden" id="idUser">
 <div class="col-12 d-flex justify-content-center"><h1>Interfaz de Administración de usuarios y roles:</h1></div>
 <div class="col-12 " > <a href="#" class="btn btn-success float-right" th:href="@{/registration}">Registrar nuevo usuario</a><br/></div>
 <br/><br/><br/>
<div class="col-12 d-flex">
<div class="col-6">
<div class="form-group blu-margin" >
 	<h1> Usuarios: </h1>
    <select id="selectUsers" class="form-control" style="max-width:35%">
    </select>
</div>
      
<script>
 

function cargaRoles(){
    var url4 =api_ip_host+"/adminuser/roles";

  	  var list2=null;
	        $.ajax({
	       type : "GET",
	       url : url4,

	       success : function(result) {
	          $('#selectAllRoles').html("");
	         var salida=' <option value="0">Selecciona el Rol:</option>';

	          
	           $.each(result,function(key, val) {
	        	salida+='<option  value="'+ val.name + '" > '+val.name +'</option>';
	 	});
		          $('#selectAllRoles').append(salida);

	  }
	        });
	        $("#selectAllRoles").change(function(){
	        	 var nombreRole = $(this).children("option:selected").val();
	        	$("#roleName").val(nombreRole);
	        	$("#roleDeleteName").val(nombreRole);
	        	$("#hardDeleteRole").val(nombreRole);
	        	
	        });
}

function cargaUsuarios(){
	var url4 =api_ip_host+"/adminuser/usuarios";
var list2=null;
      $.ajax({
     type : "GET",
     url : url4,
     dataType: "json",
    data: {users: list2},
    
     success : function(result) {
   
        $('#selectUsers').html("");
        var salida=' <option value="0">Selecciona el usuario:</option>';
         
           $.each(result,function(key, val) {
                 salida+=' <option value="'+val.id+'">'+ val.firstName+" "+ val.lastName +'</option>';

 	});
           $('#selectUsers').append(salida);
}
      });
      
} 
cargaUsuarios();

</script>

    <div class="form-group " >
  Roles del usuario: </br>
    <div id="selectUsersRoles" class="form-control w-100"  style="max-width:35%" >
   



    </div>
</div>
      <script>
      function RecargaRolesUsuario(){
          var url4 =api_ip_host+"/adminuser/RolesbyUser";
             var idUser = document.getElementById("idUser").value;
        	  var list2=null;
    	        $.ajax({
    	       type : "GET",
    	       url : url4,
    	       data:{
    	    	   userId : idUser
    	    	   
    	       },
    	       
    	      
    	       success : function(result) {
     	          $('#selectUsersRoles').html("");
    	          var salida="";
    	          
    	           $.each(result,function(key, val) {
    	        	salida+= val.name + '</br>';
    	 	});
    		          $('#selectUsersRoles').append(salida);

    	  }
    	        });
    	        
        
     }
      
      function cargaRolesUsuario(){
      var url4 =api_ip_host+"/adminuser/RolesbyUser";

      
      $("#selectUsers").change(function(){
          var idUser = $(this).children("option:selected").val();
          document.getElementById("idUser").value = idUser;
          cargaRoles();
    	  var list2=null;
	        $.ajax({
	       type : "GET",
	       url : url4,
	       data:{
	    	   userId : idUser
	    	   
	       },
	       
	      
	       success : function(result) {
 	          $('#selectUsersRoles').html("");
	          var salida="";
	          
	           $.each(result,function(key, val) {
	        	salida+= val.name + '</br>';
	 	});
		          $('#selectUsersRoles').append(salida);

	  }
	        });
	        
      });
 }
      cargaRolesUsuario();
      
      
      </script> 
      <div class="col-12"> 
     
      
    <br/>
     <div class="d-flex col-12" >
   <div class="col-6"> 
      <input type="text" disabled  id="roleName"></input> <button class="btn btn-primary " onclick="añadirRoleaUsuario()">Asignar Role </button>
      </div>
       <div class="col-6"> 
      <input type="text" disabled  id="roleDeleteName"></input> <button class="btn btn-primary " onclick="borrarRoleUsuario()">Desasignar Role </button>
      </div>
      </div>
      </div>
      <script>
      function añadirRoleaUsuario(){
    	  
          var idUser = document.getElementById("idUser").value;

    	  var url4 =api_ip_host+"/adminuser/AñadirRolesUser";
    	  
    	  var nombreRole = $('#roleName').val();
    	    
          $.ajax({
   	       type : "GET",
   	       url : url4,
   	    	data: { 
 	   	   userId : idUser,
	       roleName : nombreRole
 	      },
   	       
   	      
   	       success : function(result) {
			 
			RecargaRolesUsuario();

   	  }
   	        });
          
      } 
      
      </script>
      </div>
      
      <script>
      function añadirRole(){
    	  
          var idUser = document.getElementById("idUser").value;

    	  var url4 =api_ip_host+"/adminuser/AñadirNewRoles";
    	  
    	  var nombreRole = $('#roleNewName').val();
    	 
          $.ajax({
   	       type : "GET",
   	       url : url4,
   	    	data: { 
	       roleName : nombreRole
 	      },
   	       
   	      
   	       success : function(result) {
			console.log(result);
			cargaRoles();

   	  }
   	        });
          
      } 
  function  borrarRoleUsuario(){
    	  
          var idUser = document.getElementById("idUser").value;

    	  var url4 =api_ip_host+"/adminuser/borrarRoleaUsuario";
    	  
    	  var nombreRole = $('#roleDeleteName').val();
    	 
          $.ajax({
   	       type : "GET",
   	       url : url4,
   	    	data: { 
  	    		idUser : idUser,

	       roleName : nombreRole
 	      },
   	       
   	      
   	       success : function(result) {
			console.log(result);
			cargaRoles();
			RecargaRolesUsuario();
			$('#roleDeleteName').val("");
   	  }
   	        });
          
      } 
     
      </script>
     
  <div class="form-group  col-6" style="">
 <h1>Roles:</h1> <br/>
    <div class="col-12"> 
         <input type="text"    id="roleNewName"></input> <button class="btn btn-primary" onclick="añadirRole()">Crear Role </button>
      </div><br/>
      <h3> Lista de Roles:</h3>
 <div class="d-flex" >

    <div class="col-6  ">
	    <select  id="selectAllRoles" class="form-control"   >
	   
	    </select >
    </div>
 
     <div class="col-6  ">
             <input type="text"  disabled  id="hardDeleteRole"></input> <button class="btn btn-primary mt-1" onclick="borrarRoleDefinitivamente()">Borrar Role </button>
    
    
    </div>
    
</div>    
   
     </div>    
   
    <script>
    function borrarRoleDefinitivamente(){
    	
    	
    	 var idUser = document.getElementById("idUser").value;

   	  var url4 =api_ip_host+"/adminuser/borrarRolePorCompleto";
   	  
   	  var nombreRole = $('#roleDeleteName').val();
   	 
         $.ajax({
  	       type : "GET",
  	       url : url4,
  	    	data: { 
	       roleName : nombreRole
	      },
  	       
  	      
  	       success : function(result) {
			console.log(result);
			cargaRoles();
			RecargaRolesUsuario();
			$('#roleDeleteName').val("");
			$('#hardDeleteRole').val("");
			$('#roleName').val("");
			 
			
  	  }
  	        });
         
     } 
    
    	
    	
  
    
    
    
    </script>
 
 	</div>
</th:block>