<div class="col-12 row" th:fragment="footer">
		<div class="col-3 d-flex justify-content-center" >
			<img src="images/spring-boot-logo.png" height="80" />
		</div>	
		<div class="col-3 d-flex justify-content-center" >	
			<img src="images/jpa.jpg" height="80" />
		</div>	
		<div class="col-3 d-flex justify-content-center" >	
			<img src="images/Ajax1.png" height="80" />
		</div>	
		<div class="col-3 d-flex justify-content-center" >	
			<img src="images/jquery-logo.png" height="80" />
		</div>	
</div>



