<!-- Navbar -->
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <header>
  <style>
       .navbar{
          padding: unset;
      }

  
      </style>
  </header>
      
 
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
 
    	<div class=" alignLeft h-100 pb-1 pt-1">
	
	    
			<div id="superior" class="h-100 col-12 col-md-12 col-xs-12 col-lg-12 col-xl-12 d-flex  justify-content-between ">
			 	<div class="btn btn-primary mr-2" ><a href="#" th:href="@{/welcome}">Inicio</a></div>
				  <div class="btn btn-primary mr-2"><a href="#" th:href="@{/saludo}">Saludo</a></div>
			 	  <div class="btn btn-primary mr-2"><a href="#" th:href="@{/pedidos}">Pedidos</a></div>			 	  
            	 <div class="btn btn-primary mr-2"><a href="#" th:href="@{/clientesVista}">clientesVista</a></div>
            	 <div class="btn btn-primary mr-2"><a href="#" th:href="@{/productosVista}">ProductosVista</a></div>
            	  <div class="btn btn-primary mr-2"><a href="#" th:href="@{/tecnologias}">TecnologiasAleatorias</a></div>
           	      <div th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}" ><a href="#" th:href="@{/adminuser}">ADMINistracion</a></div>
			 	<div sec:authorize="isAuthenticated()">
			 		<a href="#" th:href="@{/logout}">
			 			<div class="d-flex btn btn-warning mr-2">
			 				<div class=""><i class="fas fa-sign-out-alt"style="font-size:25px;color:white;"></i></div>
			 				<div style="    display: contents;">Logout cuenta:<span id="nombreLogout"   ></span></div>
			 			</div>
			 		</a>
			 	</div>
			<div sec:authorize="!isAuthenticated()">
			 	<a href="#" th:href="@{/login}">
				 	<div class="d-flex btn btn-success mr-2">
					 	<div class=" "><i class="fas fa-sign-in-alt"style="font-size:25px;color:white;"></i></div>
					 	<div> &nbsp; Login</div>
				 	</div>
				 	</a>
			 	</div>
			</div>
</div>		 
		 <script th:inline="javascript">
 
		 
   	 

    var principal = /*[[${#authentication.principal}]]*/ ;
    if(principal.username!=null){
    	  console.log(principal.username);
    	  var url4 ="http://"+api_ip_host+"/userLogin/userById";
    	  
    	    $.ajax({
    	  	       type : "GET",
    	  	       url : url4,
    	  	    	data: { 
    		       email : principal.username
    		      },
    	  	       
    	  	      
    	  	       success : function(result) {
    				console.log(result);
    			 $("#nombreLogout").html(result.firstName);
    				 
    				
    	  	  }
    	  	        });
    }
  

 
</script>
        <!--/.nav-collapse -->
    
    <div class="menuSlideContainer w-100" >
      <div id="botonBurguer" class="float-right">
		  <a id="botonBurguerEnlace" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
		  </div>
		 <div class=" w-100 relative z-index-200">
		  
    	 <div id="slideMenu" class=" estilosCollapsableMenu displayNone      ">
			<div class="d-flex justify-content-center"><a class="btn btn-primary w-100 mr-2 ml-2 mt-2 mb-1 " href="#" th:href="@{/welcome}">Inicio</a></div>
			<div class="d-flex justify-content-center"><a class="btn btn-primary w-100 mr-2 ml-2 mt-2 mb-1 " href="#" th:href="@{/saludo}">Saludo</a></div>
			<div class="d-flex justify-content-center"><a class="btn btn-primary w-100 mr-2 ml-2 mt-2 mb-1 " href="#" th:href="@{/pedidos}">Pedidos</a></div>
			<div class="d-flex justify-content-center"><a class="btn btn-primary w-100 mr-2 ml-2 mt-2 mb-1 " href="#" th:href="@{/clientesVista}">clientesVista</a></div>
			<div class="d-flex justify-content-center"><a class="btn btn-primary w-100 mr-2 ml-2 mt-2 mb-1 " href="#" th:href="@{/productosVista}">ProductosVista</a></div>
			<div class="d-flex justify-content-center "><a class="btn btn-primary w-100 mr-2 ml-2 mt-1 mb-1 " href="#" th:href="@{/tecnologias}">TecnologiasAleatorias</a></div>
           	      <div class="d-flex justify-content-center" th:if="${#httpServletRequest.isUserInRole('ROLE_ADMIN')}" ><a href="#" th:href="@{/adminuser}">ADMINistracion</a></div>
			 	<div class="d-flex justify-content-center" sec:authorize="isAuthenticated()">
				 	<a class="btn btn-warning w-100 mr-2 ml-2 mt-1 mb-2 " href="#" th:href="@{/logout}">
				 	<div class="">
					 	<div class=""><i class="fas fa-sign-out-alt"style="font-size:25px;color:white;"></i> &nbsp; Logout:</div>
					 	
					 	<span th:text="${#authentication.principal.username}" ></span>
					 	</div>
			 		</a>
			 	</div>
			 		<div class="d-flex justify-content-center" sec:authorize="!isAuthenticated()">
		 	<a class="btn btn-success w-100 mr-2 ml-2 mt-1 mb-2 " href="#" th:href="@{/login}">
			 	<div class=""><i class="fas fa-sign-in-alt"style="font-size:25px;color:white;"></i>&nbsp; Login</div>
		 	</a>
	 	</div>
	</div>   
</div>  
</div>
 </html>

