<html xmlns:th="http://www.thymeleaf.org">
 
<body class="">

<!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
 
    	<div class=" alignLeft">
	
	    
			<div id="superior" class=" col-12 col-md-12 col-xs-12 col-lg-12 col-xl-12 d-flex  justify-content-between ">
			
				  <div><a href="#" th:href="@{/saludo}">Saludo</a></div>
			   <div><a href="#" th:href="@{/loremipsum}">loremipsum</a></div>
                <div><a href="#" th:href="@{/clientesVista}">clientesVista</a></div>
                <div><a href="#" th:href="@{/tecnologias}">TecnologiasAleatorias</a></div>
                <div><a href="#" th:href="@{/}">Pedidos</a></div>
                <div><a href="#" th:href="@{/}">ADMINistracion</a></div>
			</div>
		
		 
        <!--/.nav-collapse -->
    </div>
      <div id="botonBurguer">
		  <a id="botonBurguerEnlace" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
		  </div>
		 <div class=" w-100 menuSlideContainer relative ">
		  
    	 <div id="slideMenu" class=" estilosCollapsableMenu displayNone      ">
			
			 <div><a href="#" th:href="@{/saludo}">Saludo</a></div>
			   <div><a href="#" th:href="@{/loremipsum}">loremipsum</a></div>
                <div><a href="#" th:href="@{/clientesVista}">clientesVista</a></div>
                <div><a href="#" th:href="@{/tecnologias}">TecnologiasAleatorias</a></div>
                <div><a href="#" th:href="@{/}">Pedidos</a></div>
                <div><a href="#" th:href="@{/}">ADMINistracion</a></div>
			</div>   
			</div>  
</div>
 

