<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

 

<!-- Aqui van los scripts  del content-->


<div>
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional.                                           -->
    <!-- ============================================================================ -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Insert content into the layouts/layout.html -->
<th:block layout:fragment="content">
    <div class="hero-unit" style="padding:45px;">
<div class="col-12 d-flex justify-content-center">
   <h1>Aplicación y API Java </h1>
   </div>
        <h6>
        Este proyecto es una aplicación web y una API Rest desarrollada con Spring Boot, 
        tiene una interfaz de gestion de Clientes donde se puede acceder a las siguientes funcionalidades CRUD:
        
         <ul>
         	<li>Formularios con validación customizada</li>
         	<li>Búsqueda, paginación,  y ordenación de registros en las tablas </li>
         	<li>Subida de ficheros</li>
         	<li>Interfaz de administración de Usuarios y Roles disponible para usuarios logueados como administradores</li>
         	<li>Interfaz de pedidos donde se pueden realizar pedidos asignando un cliente a una lista de productos y realizar un pedido.</li>
         </ul>
        <br/>
          Las paginas que explotan las funcionalidades de los Beans son las siguientes:
    <ul>
      	    <li>  Tecnologías aleatorias, donde se muestra 
        una página diferente de forma aleatoria cada vez que se actualiza la página</li>
         	<li>Saludo, que muestra una página distinta dependiendo de la hora del día</li>

  
         </ul> 
         <br/>
        Esta aplicación las siguientes incluye tecnologías:
        
          <ul>
      	    <li>API Rest</li>
         	<li>Spring Security</li>
         	<li>Spring Data contra MySQL</li>
         	<li>JPA (creación automática de los modelos de bases de datos mediante anotaciones)</li>
         	<li>Maven</li>
         	<li>Renderizado con Thymeleaf</li>
         	<li>Ajax</li>
         	<li>Jquery</li>
         	<li>Bootstrap</li>
         	<li>Diseño Front-end con menú reponsivo</li>
         	<li>Beans customizados para realizar diversas funcionalidades</li>
         </ul>
         </h6>
    </div>
</th:block>
</html>
