<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

 

<!-- Aqui van los scripts  del content-->


<div>
    <!-- ============================================================================ -->
    <!-- This content is only used for static prototyping purposes (natural templates)-->
    <!-- and is therefore entirely optional.                                           -->
    <!-- ============================================================================ -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Static header</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Insert content into the layouts/layout.html -->
<th:block layout:fragment="content">
    <div class="hero-unit" style="padding:45px;">

   <h1>Aplicación y API Java </h1>
        <h6>
        Este proyecto es una aplicación web y una API Rest desarrollada con Spring Boot, 
        tiene una interfaz de clientes donde se puede acceder a las funcionalidades CRUD 
        con validación customizada, búsqueda, paginación, subida de ficheros y ordenación de registros referentes a los clientes,
        También tiene una interfaz de productos y pedidos donde se pueden guardar los pedidos en una base de datos
        eligiendo en las dos tablas entre los clientes y los productos para hacer los pedidos.
        <br/>
        En su panel de administración logueandose con el usuario por defecto y la contraseña 123,   
        se puede acceder a una interfaz donde se pueden crear asignar y modificar los usuarios y los roles 
        a los diferentes usuarios. 
        <br/>
        También he podido experimentar con Beans de java donde se desarrollan funcionalidades especificas 
        en las que se realizan cosas como en la página Tecnologías aleatorias, donde se muestra 
        una página diferente de forma aleatoria cada vez que se actualiza el navegador, y la pagina Saludo, que
        muestra una página distinta dependiendo de la hora del día.
        <br/>
        <br/>
        Esta aplicación incluye tecnologías como Spring Security, Spring Data, 
        JPA (creación de los modelos de bases de datos automático mediante anotaciones de JPA), Maven,
        renderizado con Thymeleaf, una librería que se incorpora a Spring boot con gestión de plantillas
        y diferentes herramientas de login. Ajax, Jquery, y diseño Front-end con menú reponsivo.


         
        </h6>
       
    </div>
</th:block>
</html>
